# Copyright (c) 2016, nubia. All rights reserved.
#
# init.project.rc

# For fingerprint only
on post-fs-data
    # for sunwave
    chown system system /dev/sunwave_fp
    chmod 664 /dev/sunwave_fp
    setprop ro.hardware.fingerprint sunwave

# Touch LCD
on post-fs-data
    mkdir /data/vendor/tp 0775 system system
    rm /data/vendor/tp/ic_ver
    rm /data/vendor/tp/user_update
    rm /data/vendor/tp/ic_detect
    rm /data/vendor/tp/DC_data
    rm /data/vendor/tp/BASEDC_data
    rm /data/vendor/tp/IIR_data

    symlink /proc/android_touch/ic_ver /data/vendor/tp/ic_ver

    chown system system /proc/android_touch/user_update
    symlink /proc/android_touch/user_update /data/vendor/tp/user_update

    chown system system /proc/android_touch/DC_data
    symlink /proc/android_touch/DC_data /data/vendor/tp/DC_data

    chown system system /proc/android_touch/BSAEDC_data
    symlink /proc/android_touch/BASEDC_data /data/vendor/tp/BASEDC_data

    chown system system /proc/android_touch/IIR_data
    symlink /proc/android_touch/IIR_data /data/vendor/tp/IIR_data

    chown system system /proc/android_touch/ic_detect
    symlink /proc/android_touch/ic_detect /data/vendor/tp/ic_detect
