# Copyright (c) 2016, nubia. All rights reserved.
#
# init.nubia.fingerprint.rc
# For fingerprint only


# goodix fingerprint
on post-fs-data
	# for goodix
    chown system system /dev/goodix_fp
    chmod 0777 /dev/goodix_fp
	
	# for silead
    chown system system /dev/silead_fp
    chmod 0660 /dev/silead_fp
    chown system system /dev/spidev1.0
    chmod 0660 /dev/spidev1.0
    chown system system /dev/spidev0.0
    chmod 0660 /dev/spidev0.0
	
	# for sunwave
	chown system system /dev/sunwave_fp
    chmod 664 /dev/sunwave_fp

    setprop ro.hardware.fingerprint sunwave

